h1 {
    display: inline;
}

nav {
    display: inline;
    float: right;
    float: top;
}

.logo {
    width: 30px;
    height: 30px;
}

.about {
    float: left;
    width: 70%;
}

.bio {
    display: inline;
    vertical-align: top;
}

.connect {
    float: left;
    width: 30%;
}

#headshot {
    display: inline;
    float: left;
}

header {

}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}